# Exclude Flutter generated platform code
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
web/** linguist-vendored

# Exclude generated/build files
**/build/** linguist-generated
**/generated/** linguist-generated

# Mark actual project languages
*.dart linguist-detectable
*.java linguist-detectable
*.py linguist-detectable

# Ignore generated / platform code from language stats
flutter/android/* linguist-vendored
flutter/ios/* linguist-vendored
flutter/macos/* linguist-vendored
flutter/windows/* linguist-vendored
flutter/linux/* linguist-vendored

frontend/android/* linguist-vendored
frontend/ios/* linguist-vendored
frontend/macos/* linguist-vendored
frontend/windows/* linguist-vendored
frontend/linux/* linguist-vendored

**/build/* linguist-vendored
**/venv/* linguist-vendored
